---
title: Home
permalink: /
---

<div class="jumbotron jumbotron-fluid bg-img text-white">
  <div class="color-overlay"></div>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col text-center">
        <h1>After twelve years,<br>Aidan and Biscuit are getting hitched!</h1>
        <p>
          Sept 20-22, 2019, <a href="https://goo.gl/maps/y4kaPXRxMxT2">Camp Timber Tops, Greeley, PA</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row schedule">
    <div class="col-lg-4 p-5 bg-dark text-white">
      {% capture schedule_include %}{% include schedule.md %}{% endcapture %}
      {{ schedule_include | markdownify }}
    </div>
    <div class="col-lg-8 bg-img"></div>
  </div>
</div>
<div class="travel pt-4 bg-img text-white">
  <!-- <div class="color-overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-4">
        {% capture travel_include %}{% include travel.md %}{% endcapture %}
        {{ travel_include | markdownify }}
      </div>
      <div class="col-md-4 offset-md-3 offset-xl-4">
        <h3>Airports</h3>
        {% capture airports_include %}{% include airports.md %}{% endcapture %}
        {{ airports_include | markdownify }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% capture lodging_include %}{% include lodging.md %}{% endcapture %}
  {{ lodging_include | markdownify }}

  {% capture packing_include %}{% include packing.md %}{% endcapture %}
  {{ packing_include | markdownify }}

  {% capture faq_include %}{% include faq.md %}{% endcapture %}
  {{ faq_include | markdownify }}
</div>