---
title: Home
permalink: /
---

<header class="jumbotron jumbotron-fluid bg-img text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <h1>After twelve years,<br>Aidan and Biscuit are getting hitched!</h1>
        <p>
          Sept 20-22, 2019, <a href="https://goo.gl/maps/y4kaPXRxMxT2">Camp Timber Tops, Greeley, PA</a>
        </p>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="bg-dark text-white">
    <div class="container">
      <div class="row schedule">
        <div class="col-lg-4 p-5">
          {% capture schedule_include %}{% include schedule.md %}{% endcapture %}
          {{ schedule_include | markdownify }}
        </div>
        <div class="col-lg-8 bg-img"></div>
      </div>
    </div>
  </section>
  <section class="travel pt-4 bg-img text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xl-4">
          {% include md.html file="travel" %}
        </div>
        <div class="col-md-4 offset-md-3 offset-xl-4">
          <h3>Airports</h3>
          {% include md.html file="airports" %}
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section>
      {% include md.html file="lodging" %}
    </section>
    <section>
      {% include md.html file="packing" %}
    </section>
    <section>
      {% include md.html file="faq" %}
    </section>
  </div>
</main>