---
title: Home
permalink: /
---

<header class="jumbotron jumbotron-fluid bg-img text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <h1>Aidan + Biscuit</h1>
        <p>
          Sept 20-22, 2019,
          <a href="https://goo.gl/maps/y4kaPXRxMxT2"
            >Camp Timber Tops, Greeley, PA</a
          >
        </p>
      </div>
    </div>
  </div>
</header>
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 p-5">
          {% include md.html file="intro" %}
        </div>
      </div>
    </div>
  </section>
  <section class="travel pt-4 bg-img text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xl-4">{% include md.html file="travel" %}</div>
        <div class="col-md-4 offset-md-3 offset-xl-4">
          <h3>Airports</h3>
          {% include md.html file="airports" %}
        </div>
      </div>
    </div>
  </section>
  <section class="container">{% include md.html file="lodging" %}</section>
  <section class="container packing">
    <h2>Packing</h2>
    <div class="row">
      <div class="col-lg-3 p-4">{% include md.html file="provided" %}</div>
      <div class="col-lg-5 bg-img img1"></div>
      <div class="col-lg-4 p-4">{% include md.html file="leave" %}</div>
      <div class="col-lg-3 bg-img img2"></div>
      <div class="col-lg-5 p-4">{% include md.html file="bring" %}</div>
      <div class="col-lg-4 bg-img img3"></div>
    </div>
  </section>
  <section class="container">{% include md.html file="faq" %}</section>
</main>
