---
title: Travel + Accommodations
---

<main>
  <section class="container">{% include md.html file="lodging" %}</section>
  <section class="travel pt-4 bg-img text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xl-4">{% include md.html file="travel" %}</div>
        <div class="col-md-4 offset-md-3 offset-xl-4">
          <h3>Airports</h3>
          {% include md.html file="airports" %}
        </div>
      </div>
    </div>
  </section>
  <section class="container packing">
    <h2>Pack list</h2>
    <div class="row">
      <div class="col-lg-3 p-4">{% include md.html file="provided" %}</div>
      <div class="col-lg-5 bg-img img1"></div>
      <div class="col-lg-4 p-4">{% include md.html file="leave" %}</div>
      <div class="col-lg-3 bg-img img2"></div>
      <div class="col-lg-5 p-4">{% include md.html file="bring" %}</div>
      <div class="col-lg-4 bg-img img3"></div>
    </div>
  </section>
</main>
