---
---

body {
  // for scrollspy
  position: relative;
}
.text-white a {
  color: inherit;
  text-decoration: underline;
}
.bg-img {
  background-position: center center;
  background-size: cover;
  position: relative;
}
.color-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.jumbotron {
  background-image: url("https://placekitten.com/1440/800");
  height: 80vh;
  text-shadow: black 1px 1px 10px;
  .color-overlay {
    background-color: hsla(186, 100%, 64%, 0.65);
  }
}
h2,
h3 {
  // offset nav bar
  $offset: 60px;
  margin-top: -$offset;
  padding-top: $offset;
}
.video {
  max-width: 100%;
}
.schedule .bg-img {
  background-image: url("Alex&AidanEngagement-156.jpg");
  background-position-y: bottom;
  min-height: 70vh;
}
