---
---

@import "utils";

nav {
  filter: drop-shadow(0 2px 4px black);
}
.jumbotron {
  background-image: url("Alex&AidanEngagement-92.jpg");
  color: $tan;
  height: 80vh;
  margin-bottom: 0;
  padding-top: 3rem;
  text-shadow: black 1px 1px 10px;

  h1 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.2rem;
  }
}
// sections
.schedule .bg-img {
  background-image: url("Alex&AidanEngagement-156.jpg");
  background-position-y: bottom;
  min-height: 70vh;
}
.travel {
  background-image: url("Alex&AidanEngagement-159.jpg");
  background-position-y: bottom;
  padding-bottom: 60vh;
  text-shadow: black 1px 2px 3px;
  @media (min-width: 768px) {
    // Bootstrap medium
    padding-bottom: 40vh;
  }
}
.packing {
  .bg-img {
    min-height: 20rem;
  }
  .img1 {
    background-image: url("Alex&AidanEngagement-151.jpg");
  }
  .img2 {
    background-image: url("Alex&AidanEngagement-103.jpg");
  }
  .img3 {
    background-image: url("Alex&AidanEngagement-220.jpg");
    background-position-y: top;
  }
}
